.container-cart {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.container-cart-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.container-checkboxes {
  display: flex;
  flex-direction: row;
  align-items: center;
  place-self: start;
  gap: 10px;
  margin: 0px 20px;
}

.form-check {
  padding: 10px;
  transition: 200ms;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: gray;
}

.form-check:active {
  transform: scale(0.8);
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px black;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.form-check-selected {
  font-weight: 500;
  background-color: var(--krj-green-primary);
  color: white;
  box-shadow: 0px 0px 5px 0px var(--krj-green-primary);
}

.container-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}
