* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: var(--Roboto);
}

.h1,
.h2,
.h3 {
  color: var(--krj-red-primary);
  font-family: var(--Montserrat);
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-primary {
  border: none;
  color: white;
  padding: 5px 10px 5px 10px;
  background: var(--dual-krj-red);
  font-family: var(--Montserrat);
}

.btn-primary:hover {
  background: var(--dual-krj-red-hover);
}

.btn-primary:active {
  background: var(--dual-krj-red-press);
}

.container-nav-buttons {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}

@media only screen and (min-width: 961px) {
  .page {
    width: 760px;
  }
}
