* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: var(--Roboto);
}

h1 {
  color: var(--krj-red-primary);
  font-family: var(--Montserrat);
}

.btn-primary {
  border: none;
  color: white;
  padding: 5px 10px 5px 10px;
  background: var(--dual-krj-red);
  font-family: var(--Montserrat);
}

.btn-primary:hover {
  background: var(--dual-krj-red-hover);
}

.btn-primary:active {
  background: var(--dual-krj-red-press);
}

.btn-nav-next {
  border: 3px solid var(--krj-yellow-primary);
  font-weight: 700;
  outline: 3px solid var(--krj-red-primary);
}

.btn-nav-back {
  background: var(--dual-krj-yellow);
  color: var(--krj-red-primary);
  border: 3px solid var(--krj-red-primary);
  font-weight: 700;
  outline: 3px solid var(--krj-yellow-primary);
}

.container-nav-buttons {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}
